<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Enviar foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>

    <ion-list>
      <ion-list-header>
        Algumas dicas para sua foto:
      </ion-list-header>


      <ion-item>
        <ion-label>Centralize os objetos em sua foto</ion-label>
        <p slot="start">1. </p>
      </ion-item>

      <ion-item>
        <ion-label>Lorem Ipsum is simply dummy text</ion-label>
        <p slot="start">2. </p>
      </ion-item>

      <ion-item>
        <ion-label>Lorem Ipsum is simply dummy text</ion-label>
        <p slot="start">3. </p>
      </ion-item>

    </ion-list>

    <img src="/assets/audit/maps.png">

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="danger" (click)="openCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>

</ion-content>

<!-- <ion-footer no-border>
  <ion-toolbar color="purple">
    <ion-button expand="full" text-uppercase>Full Button</ion-button>
  </ion-toolbar>
</ion-footer> -->