<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Padrão de Pista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header class="hydrated">
      LAYOUT
    </ion-list-header>
    <ion-item *ngFor="let item of items" (click)="takePhoto(item)">

      <!-- <div *ngIf="item.key === 'frente-posto'">
        <ion-list-header>
          GERAIS
        </ion-list-header>
      </div> -->

      <ion-thumbnail slot="start">
        <ion-img *ngIf="item.status !== 'ok'" [src]="item.img"> </ion-img>
        <ion-img *ngIf="item.status === 'ok'" src="/assets/audit/checked.png">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>{{item.status === 'ok' ? 'Sua foto foi enviada' : item.description}}</p>
      </ion-label>
      <ion-icon name="arrow-forward" *ngIf="getIconByStatus(item) === 'arrow-forward'"></ion-icon>
      <ion-icon color="success" name="checkmark" *ngIf="getIconByStatus(item) === 'checkmark'"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>