<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Auditoria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <button class="tab" (click)="onTabClick('pending')">Pendentes</button>
    <button class="tab" (click)="onTabClick('completed')">Concluídos</button>
  </div>
  <div>
    <div *ngIf="tab === 'pending'">
      <ion-list>
        <ion-item *ngFor="let pending of pendingList" [routerLink]="'/audit/stations/' + pending.id">
          <ion-label>{{pending.title}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="tab === 'completed'">
      <ion-list>
        <ion-item *ngFor="let completed of completedList" [routerLink]="'/audit/stations/' + completed.id">
          <ion-label>{{completed.title}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>