<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{equipment.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h3>Com problemas?</h3>
    <ion-text (click)="handleClick()">
      <h3 class="search">Buscar fornecedores</h3>
    </ion-text>
  </div>
  <ion-list *ngIf="show">
    <p>
      Fornecedores mais próximos do seu posto:
    </p>
    <ion-item *ngFor="let provider of providers" [routerLink]="'/list/'+provider.id">
      <ion-thumbnail slot="start">
        <ion-img [src]="provider.logo"></ion-img>
      </ion-thumbnail>
      <ion-label>{{provider.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
  