<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Programa Valoriza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabs">
    <button class="tab" (click)="onTabClick('stations')">Meus Postos</button>
    <button class="tab" (click)="onTabClick('rankingData')">Ranking</button>
  </div>
  <div>
    <div *ngIf="tab == 'stations'">
      <ion-card>
        <ion-card-header>
          <div style="display: flex; align-items: center;">
            <img style="height: 40px; width: auto; margin-right: 12px" src="/assets/audit/prize.png">
            <div>
              <ion-card-title><b>800</b></ion-card-title>
              <ion-card-subtitle>pontos</ion-card-subtitle>
            </div>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-list>
        <ion-item *ngFor="let station of stations" [routerLink]="'/stations/'+station.id">
          <ion-text slot="start">{{station.points}}</ion-text>
          <ion-label>{{station.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="tab == 'rankingData'">
      <ion-list>
        <ion-item *ngFor="let ranking of rankings">
          <ion-text slot="start">{{ranking.points}}</ion-text>
          <ion-label>{{ranking.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>