<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{station.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-img class="image" [src]="station.image"></ion-img>
    <div class="container">
      <ion-text color="secondary">
        <h2>Endereço:</h2>
      </ion-text>
      <p>{{station.address}}</p>
      <ion-text color="secondary">
        <h2>Equipamentos instalados:</h2>
      </ion-text>
    </div>
    <ion-list>
      <ion-item *ngFor="let equipment of station.equipments" [routerLink]="'/stations/equipments/'+equipment.id">
        <ion-label>{{equipment.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  