<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catálogo de Fornecedores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list>
      <ion-item *ngFor="let provider of providers" [routerLink]="'/list/'+provider.id">
        <ion-thumbnail slot="start">
          <ion-img [src]="provider.logo"></ion-img>
        </ion-thumbnail>
        <ion-label>{{provider.name}}</ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
