<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Meus Postos
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card routerLink="/audit/pista">
      <img src="/assets/audit/posto-pg.jpg">
      <ion-card-header>
        <ion-card-title text-center>Posto Vila Ema, São Paulo</ion-card-title>
        <p>R. João Marchiori, 59 - Vila Guilhermina, São Paulo - SP, 03547-020</p>
      </ion-card-header>
    </ion-card>
  
    <ion-card routerLink="/audit/select">
      <img src="/assets/audit/pista.jpg">
      <ion-card-header>
        <ion-card-title text-center>Posto Guilhermina, Praia Grande</ion-card-title>
        <p>R. João Marchiori, 59 - Vila Guilhermina, São Paulo - SP, 03547-020</p>
      </ion-card-header>
    </ion-card>
  
  </ion-content>