<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Adequação de Padrão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card routerLink="/audit/pista">
    <img src="/assets/audit/pista.jpg">
    <ion-card-header>
      <ion-card-title text-center>Pista</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/audit/select">
    <img src="/assets/audit/select.jpg">
    <ion-card-header>
      <ion-card-title text-center>Loja Select</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>